$primary-color: #FF5733;
$nav-text-color: #000000;
$nav-text-hover-color: #616161;

#mkemorgn {
    font-weight: bold;
    font-size: 25px;
    color: black;
    padding-left: 20px;
    &:hover {
        color: $nav-text-hover-color;
    }
}

nav {
    width: 100%;
    .navbar-start {
        .nav-item {
            padding-top: 10px;
            padding: 5px;
            color: black;
            font-size: 25px;
            padding-right: 20px;
            display: block;
            position: relative;
            &:hover {
                color: $nav-text-hover-color;
            }
        }
    }
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
    color: #333;
    font-weight: 300;
    line-height: 1.6;
}

footer {
    padding: 1rem !important;
    div {
        span {
            a {
                color: black;
                padding: 5px;
                font-size: 20px;
            }
        }
    }
}
#submit-button {
    background-color: black;

    &:hover {
        background-color: $nav-text-hover-color;
    }
}
ul {
    text-align: center;
}
li {
    display: block;
    vertical-align: top;
}
li img {
  width: auto;
  padding: 10px;
  height: auto;
}
#trip-name {
    text-align: center;
}
#trip-boxes {
    margin-top: 50px;
}
