nav {
  overflow: hidden; // Clears the floated list items

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; // Horizontally align list items

    li {
      a {
        display: block; // Allows padding and width/height
        color: black; // Text color
        text-align: center; // Center text
        padding: 14px 16px; // Spacing around text
        text-decoration: none; // No underline

        &:hover {
          color: #5c6b28; // Hover effect
        }

        &:visited {
          color: black;
          text-decoration: none;
        }
      }
    }
    
    // Assuming .navbar-logo is a list item (li)
    .navbar-logo {
      text-decoration: none;
      color: black;
      margin-left: auto; // Pushes the logo to the right
      a {
        padding: 0; // Reset padding if you want the logo to align with the edges
        }
      }
    }
  }

