
{% extends "base.html" %}

{% block content %}
    <div class="content">
        {{ page.content | safe }}
    </div>

    <div class="container" id="gallery">
        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin1.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin2.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin3.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin4.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin5.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin6.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin7.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin8.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin9.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin10.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin11.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/austin2022/austin12.jpg">
            </div>
        </div>
{% endblock %}
