<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Mike Morgan</title>
  <link href='{{ get_url(path='style.css') }}' rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

</head>

<div class="column" id="nav">
  <a href="/">mkemorgn</a>
</div>

  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="#">Trips</a></li>
    </ul>
  </nav>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>
</html>
