{% extends "base.html" %}

{% block content %}
    <div class="content">
        {{ page.content | safe }}
    </div>

    <div class="container" id="gallery">
        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Boston2022/boston1.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Boston2022/boston2.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Boston2022/boston3.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Boston2022/boston4.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Boston2022/boston5.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Boston2022/boston6.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Boston2022/boston7.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Boston2022/boston8.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Boston2022/boston9.jpg">
            </div>
        </div>
{% endblock %}
