{% extends "base.html" %}

{% block content %}
{% if page.extra.navbar%}
  {% include "navbar.html" %}
{% endif %}

  <div class="trip">
    <div class="title">
      {{ page.title }}  
    </div>
    <div class="content">
        {{ page.content | safe }}
    </div>

    <div class="trip-container" id="gallery">
        <div class="trip-columns">
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago1.jpg">
            </div>
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago2.jpg">
            </div>
        </div>

        <div class="trip-columns">
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago3.jpg">
            </div>
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago4.jpg">
            </div>
        </div>

        <div class="trip-columns">
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago5.jpg">
            </div>
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago6.jpg">
            </div>
        </div>

        <div class="trip-columns">
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago7.jpg">
            </div>
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago8.jpg">
            </div>
        </div>

        <div class="trip-columns">
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago9.jpg">
            </div>
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago10.jpg">
            </div>
        </div>

        <div class="trip-columns">
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago11.jpg">
            </div>
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago12.jpg">
            </div>
        </div>

        <div class="trip-columns">
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago13.jpg">
            </div>
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago14.jpg">
            </div>
        </div>

        <div class="trip-columns">
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago15.jpg">
            </div>
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago16.jpg">
            </div>
        </div>

        <div class="trip-columns">
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago17.jpg">
            </div>
            <div class="trip-column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Chicago2022/chicago18.jpg">
            </div>
        </div>
{% endblock %}
