{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<div class="block">
  <header>
    <h2 class="title is-4">My Projects</h2>
  </header>
</div>

<!-- Linux/config -->
<div class="columns">
  <div class="column">
    <div class="tile">
      <div class="tile is-9">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/web1.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><a href="/programming/linux/">Configs</a></p>
              </div>
            </div>

            <div class="content">
              This is where I spend most of my free time.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Linux/config -->

<!-- This site's code -->
  <div class="column">
    <div class="tile">
      <div class="tile is-9">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/images/site.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><a href="/programming/site/">This site's code</a></p>
              </div>
            </div>

            <div class="content">
              The secret sauce to this super complicated website.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End site code -->

<!-- Random restaurant generator -->
<div class="column">
  <div class="tile is-9">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/images/randrest.jpg" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"><a href="/programming/randrest">Random Restaurant</a></p>
          </div>
        </div>

        <div class="content">
          For when my wife can't decide on a place to eat.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End restaurant generator -->
{% endblock content %}
