{% extends "base.html" %}

{% block content %}
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <input class="input" type="email" placeholder="Email input">
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" id="submit-button">Submit</button>
  </div>
</div>
{% endblock content %}
