{% extends "base.html" %}

{% block content %}
{% if page.extra.navbar%}
  {% include "navbar.html" %}
{% endif %}

  <div class="trip">
    <div class="title">
      {{ page.title }}  
  </div>

  <div class="content">
      {{ page.content | safe }}
  </div>

  <div class="trip-container" id="gallery">
    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver1.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver2.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver3.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver4.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver5.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver6.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver7.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver8.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver9.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver10.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver11.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver12.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver13.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Denver+2020/denver14.jpg">
      </div>
    </div>
{% endblock %}
