{% extends "base.html" %}

{% block content %}
{% if page.extra.navbar%}
  {% include "navbar.html" %}
{% endif %}

  <div class="trip">
    <div class="title">
      {{ page.title }}  
  </div>
  
  <div class="content">
      {{ page.content | safe }}
  </div>

  <div class="trip-container" id="gallery">
      <div class="trip-columns">
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit1.jpg">
        </div>
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit2.jpg">
        </div>
      </div>

      <div class="trip-columns">
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit3.jpg">
        </div>
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit4.jpg">
        </div>
      </div>

      <div class="trip-columns">
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit5.jpg">
        </div>
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit6.jpg">
        </div>
      </div>

      <div class="trip-columns">
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit7.jpg">
        </div>
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit8.jpg">
        </div>
      </div>

      <div class="trip-columns">
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit9.jpg">
        </div>
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit10.jpg">
        </div>
      </div>

      <div class="trip-columns">
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit11.jpg">
        </div>
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit12.jpg">
        </div>
      </div>

      <div class="trip-columns">
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit13.jpg">
        </div>
        <div class="trip-column">
            <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/Detroit+2020/detroit14.jpg">
        </div>
      </div>
{% endblock %}
