{% extends "base.html" %}

{% block content %}
<div class="container" id="gallery">
  <div class="columns">
    <div class="column">
      <figure class="gallery__item--1">
        <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/1.jpg" rel="lightbox">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/1.jpg" width="640" height="360" class="gallery__image" data-lightbox="image-1">
        </a>
      </figure>
    </div>

    <div class="column">
      <figure class="gallery__item--2">
        <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/2.jpg" rel="lightbox">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/2.jpg" width="640" height="360" class="gallery__image" data-lightbox="image-1">
        </a>
      </figure>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <figure class="gallery__item--3">
        <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/3.jpg" rel="lightbox">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/3.jpg" width="640" height="360" class="gallery__image" data-lightbox="image-1">
        </a>
      </figure>
    </div>

    <div class="column">
      <figure class="gallery__item--4">
        <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/4.jpg" rel="lightbox">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/4.jpg" width="640" height="360" class="gallery__image" data-lightbox="image-1">
        </a>
      </figure>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <figure class="gallery__item--5">
        <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/5.jpg" rel="lightbox">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/5.jpg" width="640" height="360" class="gallery__image" data-lightbox="image-1">
        </a>
      </figure>
    </div>

    <div class="column">
      <figure class="gallery__item--6">
        <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/6.jpg" rel="lightbox">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/6.jpg" width="640" height="360" class="gallery__image" data-lightbox="image-1">
        </a>
      </figure>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <figure class="gallery__item--7">
        <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/7.jpg" rel="lightbox">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/7.jpg" width="640" height="360" class="gallery__image" data-lightbox="image-1">
        </a>
      </figure>
    </div>

    <div class="column">
      <figure class="gallery__item--8">
        <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/8.jpg" rel="lightbox">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/8.jpg" width="640" height="360" class="gallery__image" data-lightbox="image-1">
        </a>
      </figure>
    </div>
  </div>
</div>
{% endblock content %}
