{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="gallery">
    <figure class="gallery__item--1">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/01.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/01.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>

    <figure class="gallery__item--2">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/02.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/02.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>

    <figure class="gallery__item--3">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/03.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/03.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>

    <figure class="gallery__item--4">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/04.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/04.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>

    <figure class="gallery__item--5">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/05.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/05.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>

    <figure class="gallery__item--6">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/06.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/06.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>

    <figure class="gallery__item--7">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/07.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/07.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>

    <figure class="gallery__item--8">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/08.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/08.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>

    <figure class="gallery__item--9">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/09.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/09.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>

    <figure class="gallery__item--10">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/10.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/10.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>

    <figure class="gallery__item--11">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/11.webp" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/11.webp" class="gallery__image" data-lightbox="image-1">
      </a>
    </figure>
  </div>
</div>
{% endblock content %}
