{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="columns is-desktop is-vcentered">
    <div class="column">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/1.jpg" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/1.jpg" class="gallery__image" data-lightbox="image-1">
      </a>
    </div>

    <div class="column">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/2.jpg" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/2.jpg" class="gallery__image" data-lightbox="image-1">
      </a>
    </div>
  </div>

  <div class="columns is-desktop is-vcentered">
    <div class="column">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/3.jpg" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/3.jpg" class="gallery__image" data-lightbox="image-1">
      </a>
    </div>

    <div class="column">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/4.jpg" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/4.jpg" class="gallery__image" data-lightbox="image-1">
      </a>
    </div>
  </div>

  <div class="columns is-desktop is-vecentered">
    <div class="column">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/5.jpg" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/5.jpg" class="gallery__image" data-lightbox="image-1">
      </a>
    </div>

    <div class="column">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/6.jpg" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/6.jpg" class="gallery__image" data-lightbox="image-1">
      </a>
    </div>
  </div>

  <div class="columns is-desktop is-vecentered">
    <div class="column">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/7.jpg" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/7.jpg" class="gallery__image" data-lightbox="image-1">
      </a>
    </div>

    <div class="column">
      <a href="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/8.jpg" rel="lightbox">
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/main/8.jpg" class="gallery__image" data-lightbox="image-1">
      </a>
    </div>
  </div>
</div>
{% endblock content %}
