{% extends "base.html" %}

{% block content %}
    <div class="content">
        {{ page.content | safe }}
    </div>

    <div class="container" id="gallery">
        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la1.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la2.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la3.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la4.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la5.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la6.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la7.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la8.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la9.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la10.jpg">
            </div>
        </div>

        <div class=" columns is-desktop is-vcentered">
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la11.jpg">
            </div>
            <div class="column">
                <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/LA+2021/la12.jpg">
            </div>
        </div>
{% endblock %}
