{% extends "base.html" %}

{% block content %}
{% if page.extra.navbar%}
  {% include "navbar.html" %}
{% endif %}

<div class="trip">
  <div class="title">
    {{ page.title }}  
  </div>

  <div class="content">
      {{ page.content | safe }}
  </div>

  <div class="trip-container" id="gallery">
    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no1.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no2.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no3.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no4.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no5.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no6.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no7.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no8.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no9.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no10.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no11.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no12.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no13.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no14.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no15.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no16.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no17.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no18.jpg">
      </div>
    </div>

    <div class="trip-columns">
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no19.jpg">
      </div>
      <div class="trip-column">
          <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/NewOrleans2021/no20.jpg">
      </div>
    </div>
</div>
{% endblock %}
