{% extends "base.html" %}

{% block content %}
<div class="container">
  <ul>
    <li>
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/houston2021/02.webp" alt="Placeholder image">
    </li>
    <li>
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/houston2021/03.webp" alt="Placeholder image">
    </li>
    <li>
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/houston2021/04.webp" alt="Placeholder image">
    </li>
    <li>
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/houston2021/05.webp" alt="Placeholder image">
    </li>
    <li>
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/houston2021/06.webp" alt="Placeholder image">
    </li>
    <li>
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/houston2021/07.webp" alt="Placeholder image">
    </li>
    <li>
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/houston2021/08.webp" alt="Placeholder image">
    </li>
    <li>
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/houston2021/09.webp" alt="Placeholder image">
    </li>
    <li>
        <img src="https://mikemorganphotos.s3.us-east-2.amazonaws.com/houston2021/10.webp" alt="Placeholder image">
    </li>
  </ul>
</div>
{% endblock content %}
