{% extends "base.html" %}

{% block content %}
  <div class="image-gallery">
    {% for page in paginator.pages %}
    <div class="image-box">
      <div class="image-wrapper">
        <img src="/images/{{ page.description }}.jpg" >
      </div>
      <a class="image-label" href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </div>
    {% endfor %}
  </div>

  <nav class="pagination">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
  </nav>


{% endblock content %}
